/* CircularStd @font-face kit */
@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BlackItalic.eot');
    src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BoldItalic.eot');
    src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Medium.eot');
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-MediumItalic.eot');
    src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BookItalic.eot');
    src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'AkkuratLight';
    src: url('../fonts/AkkuratLightRegular.eot');
    src: url('../fonts/AkkuratLightRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat-Light.woff') format('woff'), url('../fonts/Akkurat-Light.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 100;
    font-style: normal;
  }



/* ------ GENERALES ------*/


body{
    font-family:'CircularStd', sans-serif;
    margin:0px;
}

a{
    text-decoration: none;
    color:#2E1442;
    font-size:18px;
}

a:hover{
    text-decoration: none;
    color:#E96A90;
}

p{
  margin: 16px 0px;
  font-size: 18px;
}
/* ------ PRIMERA SECCION ------*/

header{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #F1EDED;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff6e;
  }

.logotipo{
    margin: 0 52px;
    height:inherit;
}

.logotipo h2{
    margin:0px;
    padding:0px;

}

.logotipo h2 a{
    font-family: 'CircularStd', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #E96A90;
    margin: 14px 14px;
    display: block;
}

.logotipo h2 a:hover{
    color: #2E1442;
}

sup{vertical-align: super;font-size:12px;}



nav{
    margin: 0 30px;
    height:inherit;
    
}

nav ul{
 display: flex;
 justify-content:flex-end;
  height: inherit;
  border-left: 1px solid #f1eded;
  padding-left: 20px;
}

nav ul li{
    display: inline;
    margin: 19px 24px;
}

nav ul li:first-child {
  margin-top: 17px;
}

nav ul li.current a{
    color:#E96A90;
    }

main.homeMain{
/*display:flex;
flex-direction:column;
scroll-snap-type: y mandatory;
scroll-snap-type: y proximity;
overflow-y: scroll;*/
scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}

main.homeMain > section{
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



h1{
  display:inline-block;
    font-family:'AkkuratLight', sans-serif;
    font-size:56px;
    font-weight:100;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
}

h1 span{
    color:#E96A90;
}


section{
  height:100vh;
  width: 100vw;
   }


section.hello{
background-image: url("../img/intro-bgimg.png");
background-size: cover;
}

section.white{
  background-color: #fff;
}
section.pink{
  background-color: #fff5f0;
}

section.mumood{
  background-image: url("../img/mumood-bgimg.png");
  background-size: cover;
}

section.clique{
  background-image: url("../img/clique-bgimg.png");
  background-size: cover;
}

section.flow{
  background-image: url("../img/flow-bgimg.png");
  background-size: cover;
}

section.bauEpicalab{
  background-image: url("../img/teacher-bgimg.png");
  background-size: cover;
}





footer{
     width: 100%;
    height: 32px;
}

footer p{
  margin: 48px 0px 16px 64px;
  font-size: 12px;
  color: #444;
}


.contact{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 14px;
  margin-right: 51px;
  text-align: right;
}


.contact p{
  width:100%;
  margin: 2px;
  font-weight:800;
  color:#E96A90;
}

.contact p a:link{
  color:#E96A90;
  font-size:16px;
  font-family: 'CircularStd';
  font-weight:400;
}

.contact p a:hover{
  color:#2E1442;
}


/*--------ABOUT--------*/


.bio, .history{
  text-align: left;
  padding: 42px 42px 42px 67px;
  width: 100%;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e1442;

}

.bio{
  margin-top: 80px;
  height:300px;
  border-bottom: 1px solid #F1EDED;
}

.bio h3{
  font-weight: bold;
  margin: 20px 0px;
}

section.bio a{
  color:#E96A90;
}

.bio a:hover{
  color:#2E1442;
}

.cv{
  height:auto;
  display:flex;
  justify-content: space-between;
}

.history{width:60%;}


.historySection{
  margin-bottom:64px;
}

.historySection span{
  color:#E96A90;
}

.historySection p{
  margin:0px 0px 16px 0px;
}

.historySection h4{
font-weight: 800;
margin-bottom: 20px;
}

.historySection h6 {
  font-size: 14px;
  font-weight: 200;
  color: #2e1442a9;
}


  aside{
    padding: 47px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e1442a9;
  }

aside h6{
font-size: 20px;
  font-weight: 900;
  margin-bottom:24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e1442;
  }

  .skills{
  margin-bottom: 32px;
}



  
  