
/* CircularStd @font-face kit */
@font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-Black.eot');
      src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 800;
      font-style: normal;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-BlackItalic.eot');
      src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 800;
      font-style: italic;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-Bold.eot');
      src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 600;
      font-style: normal;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-BoldItalic.eot');
      src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 600;
      font-style: italic;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-Medium.eot');
      src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 500;
      font-style: normal;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-MediumItalic.eot');
      src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 500;
      font-style: italic;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-Book.eot');
      src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: 'CircularStd';
      src: url('../fonts/CircularStd-BookItalic.eot');
      src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 400;
      font-style: italic;
    }
  
    @font-face {
      font-family: 'AkkuratLight';
      src: url('../fonts/AkkuratLightRegular.eot');
      src: url('../fonts/AkkuratLightRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat-Light.woff') format('woff'), url('../fonts/Akkurat-Light.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
      font-weight: 100;
      font-style: normal;
    }

    
    /* ---------------------------------- GENERALES -----------------------------------*/

* {
      box-sizing: border-box;
}

html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
}

body {
      color:#2E1442;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family:'CircularStd', sans-serif;
      font-weight: 400;

    
}

a{
      text-decoration: none;
      color:#2E1442;
      font-size:18px;
  }
  
a:hover{
      text-decoration: none;
      color:#E96A90;
}

p{
      margin: 16px 80px 16px 0px;
      font-size: 18px;
}

img{
      max-width:100%;
}


h1.centeredTitle{
      font-family:'AkkuratLight', sans-serif;
      font-size:56px;
      font-weight:100;
      position: fixed;
      top: 50%;
      /* transform: translateY(-50%);*/
      text-align: center;
      width: 100%;
      left: 0;
      /*font-size: calc(1rem + 3vw);*/
    }
    
h1.centeredTitle span, p.description span{
      color:#E96A90;
}


header{
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 55px;
      border-bottom: 1px solid #F1EDED;
      background-color: #ffffffc2; 
}

/* ---------------------------------- MENU -----------------------------------*/



.logo{
      margin: 0 67px;
  }
.logo h2{
      margin: 18px 0px;
}

.rosa{
      color:#E96A90;    
}


.logo a {
      font-family:'CircularStd', sans-serif;
      color:#E96A90;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
}

.logo a:hover{
      color: #2E1442;
  }

  sup{vertical-align: super;font-size:12px;}


  nav{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
  }


  .nav-wrapper ul{
      display: flex;
      justify-content:flex-end;
      height: inherit;
      border-left: 1px solid #f1eded;
      padding-left: 20px;
      margin-right: 24px;
}

.nav-wrapper ul li{
      margin: 19px 24px;
  }

  nav ul li{
      display: inline;
      margin: 19px 24px;
  }
  
  nav ul li:first-child {
    margin-top: 17px;
  }
  
  nav ul li.current a{
      color:#E96A90;
      }
  

   /* ---------------------------------- SCROLL PAGE y SECCIONES DE LA HOME -----------------------------------*/



.homeMain{
      flex-direction: column;
      height: 100vh;
      /* overflow: auto; */
      /*overflow-y: scroll;*/
      scroll-snap-type: y mandatory; /* Chrome Canary */  
      scroll-snap-type: mandatory; /* Firefox */  
      -ms-scroll-snap-type: mandatory; /* IE/Edge */  
      -webkit-scroll-snap-type: mandatory; /* Safari */  
      -webkit-scroll-snap-destination: 0% 0%;  
      -webkit-overflow-scrolling: touch; /* important for iOS */  
      scroll-snap-points-x: initial;
      -ms-scroll-snap-points-x: initial;
      scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
   
            }

 .homeMain section{
      height: 100vh;
      width: 100vw;
      /*  scroll-snap-align: start;  */
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      align-items:flex-end;
      /* width: 100%;  */
      flex-shrink: 0;  
      scroll-snap-align: start; /* latest (Chrome 69+) */  
      scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
      -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */ 
}




section.hello{
      background-image: url("../img/intro-bgimg.png");
      background-size: cover;
}

section.white{
      background-color: #fff;
}
section.pink{
      background-color: #fff5f0;
}

section.mumood{
      background-image: url("../img/mumood-bgimg.png");
      background-size: cover;
}

section.clique{
      background-image: url("../img/clique-bgimg.png");
      background-size: cover;
}

section.flow{
      background-image: url("../img/flow-bgimg.png");
      background-size: cover;
}

section.bauEpicalab{
      background-image: url("../img/teacher-bgimg.png");
      background-size: cover;
}
                

.infoProject{
      margin: 0px 0px 32px 68px;
      width: 35%;
}

.infoProject h3{
      font-family:'CircularStd', sans-serif;
      color:#E96A90;
      font-weight: 800;
      font-size: 24px;
}

.infoProject p span{
      color:#E96A90;
      font-size: 14px;
      line-height: 16px;
      background-color: #ffffffc2;
}

.infoProject a{
      font-size: 14px;
      font-weight: 500;
}

.fa, .fas {
      font-size: 10px;
  }

   /* ---------------------------------- PIE DE PÁGINA -----------------------------------*/


.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    bottom: 32px;
    margin-right: 51px;
    text-align: right;
}
                
                
.contact p{
      width:100%;
      margin: 2px;
      font-weight:800;
      color:#E96A90;
}

.contact p a:link{
      color:#E96A90;
      font-size:14px;
      font-family: 'CircularStd';
      font-weight:400;
}

.contact p a:hover{
      color:#2E1442;
}


footer{
      width: 100%;
      height: 50px;
}


footer p {
      margin: -12px 0px 0px 64px;
      font-size: 12px;
      color: #444;
}



/*---------------------------------------------ABOUT------------------------------------------------*/

.aboutMain{
      display:flex;
      flex-direction:column;
}
.bio, .history{
      text-align: left;
      padding: 42px 42px 42px 67px;
      width: 100%;
      font-size: 18px;
      line-height: 1.3em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2e1442;

}

.bio{
      margin-top: 80px;
      height: auto;
      border-bottom: 1px solid #F1EDED;
}

.bio h3{
      font-weight: bold;
      margin: 20px 0px;
}

section.bio a{
      color:#E96A90;
}

.bio a:hover{
      color:#2E1442;
}

.cv{
      height: auto;
      display: flex;
      justify-content: flex-start;
}

.history{
      width:44%;
}


.historySection{
      margin-bottom:64px;
}

.historySection span{
      color:#E96A90;
}

.historySection p{
      margin:0px 0px 16px 0px;
}

.historySection h4{
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 18px;
}

.historySection h6 {
      font-size: 14px;
      font-weight: 200;
      color: #2e1442a9;
}


aside{
      padding: 42px;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2e1442a9;
}

aside h6{
      font-size: 18px;
      font-weight: 900;
      margin-bottom:24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2e1442;
}

.skills{
      margin-bottom: 32px;
}

/*--------------------------------------------- PROJECT TEMPLATE ------------------------------------------------*/
.mumoodMain{
      width:100%;
}


.containerGrid {
      width: 100%;
      padding: 0 5.8%;
      display: grid;
      grid-template-columns: repeat(5,18%);
      grid-column-gap: 2.5%;
      margin-top: 55px;
}


.fondoGris{
      background-color: #efeeee;
      width: 100%;
      height: auto;
      padding-bottom: 24px;
}

section.ProjectCard{
      grid-column-end: span 5;
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
}

section.projectCaseStudy{
      grid-column-end: span 4;
      margin: 24px 0px;
}

.navBetweenProjects{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 26px 18px;
}

.projectTitleBox{
      width: 40%;
      margin: 120px 0px;
}

h1.projectTitle{
      font-size:59px;
      font-weight:700;
      line-height: 63px;
      margin:8px 0 24px 0;
}

h2.projectSubtitle{
      font-size:22px;
      font-weight:300;
      line-height: 24px;
      margin:8px 0 24px 0;    
}

.projectDetails{
      display: grid;
      grid-template-columns: repeat(5,18%);
      grid-column-gap: 2.5%;
      margin-top: 58px;
}


.projectDetail{
      grid-column-end: span 1;
}

.projectDetail h4{
      font-weight:600;
      color:#E96A90;
      font-size:17px;
      line-height:20px;
}

.projectDetail p{
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin: 8px 0 8px 0;
      }

 .projectMenu{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: fixed;
      right: 0;
      top: 162px;
      margin-right: 49px;
      text-align: right;
 }

 .projectMenu p{
      margin:0px;
 }

 .projectMenu a{
      margin: 0px;
      font-size: 14px;
      line-height: 20px;
      color:#E96A90;
}

.projectMenu a:hover{
      color:#2e1442
}

.projectCaseStudy h3{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      color:#E96A90;
}

.summary{
      font-weight: 600;
      font-size: 17px;
       line-height: 20px;
}

.projectImage{
      grid-column-end:span 5;
      background-image: url("../img/teacher-bgimg.png");
      background-size: cover;
      background-position:center;
      height:80vh;
}

/*-------------JAVASCRIPT----------------*/

.holder {
	width: 100%;
} 

.sidebar {
	width: 200px;
	font-family: helvetica, arial;
	font-size: 9pt;
	float: left;
	position: fixed;
} 

.main {
	padding-left: 225px;
	width: 640px;
	font-family: helvetica, arial;
	font-size: 9pt;
	float: left;
} 

.info {
	width: 180px;
	font-family: helvetica, arial;
	font-size: 9pt;
	float: left;
	margin-left: 885px;
	position: fixed;
} 

p.content {
	width: 180px;
	border-top: 1px solid #CCCCCC;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0px;
}

.post {
	border: 1px solid white;

}

#date {
	position:fixed;
	top:25px;
	right:20px;
	height: 45px;
	width: 90px;
	background: #ccc;
    color:#000;
    padding:2px;
}

.Desc {
	width: 200px;
	font-family: helvetica, arial;
	font-size: 9pt;
	float: left;
	position: fixed;
	background: grey;
} 





   /* ---------------------------------- RESPONSIVE DESIGN -----------------------------------*/

@media screen and (max-width:900px) {
      .logo {
            padding: 0;
            margin: 0px 20px;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 0%;
            height:0%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: fixed;
           top: 72px;
            transform: translateY(-50%);
            width: 100%;
            
      }

      h1.centeredTitle{
            font-size: 28px;
            line-height: 32px;
      }
     
            

      .nav-wrapper ul li {
            width: 100%;
            text-align: right;
            margin-bottom: 6px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
            margin-right:20px;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:nth-child(5) a {
            transition-delay: 0.6s;
      }

      .nav-wrapper ul li:nth-child(6) a {
            transition-delay: 0.7s;
      }
      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #2E1442;
            font-size: 18px;
            font-weight: 600;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-wrapper ul li a:hover {
            color: #E96A90;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #2E1442;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }


      .cv{
            display: flex;
             flex-direction: column;
      }


      .history{
            display:block;
            width:100%;
            padding-bottom:0px;
            border-bottom:1px solid #F1EDED;
            margin:12px;
            padding:0px;
      }

      .historySection{
            margin-bottom:40px;
           
      }

      .bio {
            margin: 64px 16px 0px 0px;
            padding-left: 20px;
      }

      .history {
            margin: 32px 16px 0px 0px;
            padding-left: 20px;
      }

      aside{
            padding-top: 0px;
            margin: 40px 16px 0px 0px;
            padding-left: 20px;
          
      }

        .infoProject {
            margin: 0px 0px 80px 22px;
        }

        .contact {
            width: 100%;
            justify-content: flex-start;
            position: fixed;
            bottom: 0px;
            left: 0px;
            margin-left: 0px;
            padding-left: 18px;
            padding-top: 6px;
            text-align: left;
            background-color: #ffffffeb;
            height: 50px;
            border-top: 1px solid #f2f2f2;
        }

        .contact p{
              font-size: 14px;
        }

.infoProject{
      width:90%;
}

footer{
      height: 112px;
      text-align: left;
}

footer p{
      margin:0px;
      padding-left:24px;
      font-size:10px;
}


.projectMenu{
      display:none;
}

.projectDetail{
      grid-column-end: span 5;
}


      
}





#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #2E1442;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
      width:100%;
      height:100%;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}


