/* CircularStd @font-face kit */
@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BlackItalic.eot');
    src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BoldItalic.eot');
    src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Medium.eot');
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-MediumItalic.eot');
    src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BookItalic.eot');
    src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'AkkuratLight';
    src: url('../fonts/AkkuratLightRegular.eot');
    src: url('../fonts/AkkuratLightRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Akkurat-Light.woff') format('woff'), url('../fonts/Akkurat-Light.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
    font-weight: 100;
    font-style: normal;
  }


/* RESET.CSS
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ------ GENERALES ------*/

body{
    font-family:'CircularStd', sans-serif;
    margin:0px;
}

a{
    text-decoration: none;
    color:#2E1442;
    font-size:18px;
}

a:hover{
    text-decoration: none;
    color:#E96A90;
}

/* ------ PRIMERA SECCION ------*/

header{
    float:left;
    width:100%;
    height: 55px;
    border-bottom:1px solid #F1EDED;
    position: fixed;
    top: 0;
    right: 0;}

#logotipo{
    float: left;
    margin: 0 52px;
    height:inherit;
}

#logotipo h2{
    margin:0px;
    padding:0px;
}

#logotipo h2 a{
    font-family: 'CircularStd', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #E96A90;
    margin: 14px 14px;
    display: block;
}

#logotipo h2 a:hover{
    color: #2E1442;
}

sup{vertical-align: super;font-size:12px;}



nav{
    float:right;
    width:60%;
    margin: 0 30px;
    height:inherit;
    
}

nav ul{
  float: right;
  height: inherit;
  border-left: 1px solid #f1eded;
  padding-left: 20px;
}

nav ul li{
    display: inline;
    float: left;
    margin: 19px 24px;
}

nav ul li.current a{
    color:#E96A90;
    }

main{
  clear: both;
  float: left;
  width: 100%;
}


section{
  height: 775px;
  width:100%;
  text-align: center;
  display:block;
   }


h1{
  display:inline-block;
    font-family:'AkkuratLight', sans-serif;
    font-size:56px;
    font-weight:100;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
}

h1 span{
    color:#E96A90;
}


section.hello{
    background-image: url("../img/intro-bgimg.png");
    background-color: #fff;
}

section#mumood.pink{
  background-image: url("../img/mumood-bgimg.png");
  background-color: #fff5f0;
}



footer{
  width:100%;
  float:left;
height:80px;
position:fixed;
  left:0px;
  bottom:0px;


}
#copyright{
  float:left;
  margin:42px 0px 16px 64px;
  font-size:12px;
  color:#444;
}

#contact{
  float: right;
  width: 28%;
  margin-right: 27px;
}

#contact p{
  float: right;
  margin-right: 24px;
  margin-top: 6px;
  font-weight:800;
  color:#E96A90;
}

#contact p a:link{
  color:#E96A90;
  font-size:16px;
  font-family: 'CircularStd';
  font-weight:400;
}

#contact p a:hover{
  color:#2E1442;
}
